body {
    font-family: Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.h-main {
    display: flex;
    justify-content: space-between; /* Change this from center to space-between */
    align-items: center;
}


ul {
    display: flex;
    justify-content: flex-end; /* Change this from right to flex-end */
    align-items: center; /* Add this line */
}


ul li {
    align-items: center;
    list-style: none;
    margin: 2px;
}

ul li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: 0.5s;
}

ul li a:hover {
    background-color: #000;
    color: #fff;
}







/* header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    margin-top: 20px;
} */